doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Results
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')
        style.
            h2 {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
                font-size: 30px;
                text-align: center;
                color: purple;
            }

            input[type=submit] {
                background-color: #4CAF50;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                position: relative;
                left: 47%;
                text-align: center;
            }

            input[type=submit]:hover {
                background-color: #45a049;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }

            #name {
                background-color: #EEEEEE;
                Opacity: 0.7;
            }

            #control {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
                font-size: 40px;
                text-align: center;
                color: #2B4520;
            }

            #controlName {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
                font-size: 30px;
                text-align: center;
                color: red;
            }

        script(src = '/js/jquery.js')
        script(src = '/js/jquery-ui.js')
        script(src = '/js/onload.js')
        script(src = 'https://www.gstatic.com/charts/loader.js')
        script.
            var input = !{JSON.stringify(params).replace(/<\//g, '<\\/')};
            drawMap();
            drawSATChart();
            drawGenderChart();
            drawAcceptanceChart();
            drawExpenseChart();

            function drawMap() {
                google.charts.load('current', {'packages': ['geochart']});
                google.charts.setOnLoadCallback(function () {
                    var data = google.visualization.arrayToDataTable([
                        ['State'],
                        [input['state']],
                    ]);
                    var options = {
                        title: "University Geographical Location",
                        // legend: 'none',
                        region: 'US',
                        displayMode: 'regions',
                        resolution: 'provinces',
                        height: 350,
                        width: 500,
                        backgroundColor: {
                            fill: '#EEEEEE',
                            fillOpacity: 0.7
                        },
                    };
                    var chart = new google.visualization.GeoChart(document.getElementById('map'));
                    chart.draw(data, options);
                });
            }

            function drawSATChart() {
                google.charts.load('current', {'packages': ['bar']});
                google.charts.setOnLoadCallback(function () {
                    var data = google.visualization.arrayToDataTable([
                        ['Category', 'Score', {role: 'style'}, {role: 'annotation'}, 'Average', {role: 'style'}],
                        ['SAT Math', parseInt(input['sat_math']), '#2B4520', input['sat_math'], #{satMathAve}, 'red'],
                        ['SAT Verbal', parseInt(input['sat_verbal']), '#88B972', input['sat_verbal'], #{satVerbalAve}, 'red'],
                    ]);
                    var options = {
                        title: 'Required SAT scores',
                        width: 500,
                        height: 350,
                        bar: {groupWidth: "85%"},
                        legend: {position: "none"},
                        vAxis: {
                            minValue: 0,
                            maxValue: 800,
                            gridlines: {
                                count: 5
                            },
                        },
                        backgroundColor: {
                            fill: '#EEEEEE',
                            fillOpacity: 0.7
                        },
                        seriesType: 'bars',
                        series: {1: {type: 'scatter'}},
                    };
                    var chart = new google.visualization.ComboChart(document.getElementById('sat'));
                    chart.draw(data, options);
                });
            }

            function drawAcceptanceChart() {
                google.charts.load('current', {packages: ['corechart']});
                google.charts.setOnLoadCallback(function () {
                    var data = google.visualization.arrayToDataTable([
                        ['University', 'Acceptance %', {role: 'style'}, {role: 'annotation'}, 'Average', {role: 'style'}],
                        [input['name'], parseInt(input['percent_admittance']), '#2B4520', parseInt(input['percent_admittance']), #{acceptanceAve}, 'red'],
                    ]);
                    var options = {
                        title: 'University Acceptance Rate (%)',
                        height: 350,
                        width: 500,
                        bar: {groupWidth: "50%"},
                        legend: {position: "none"},
                        hAxis: {
                            minValue: 0,
                            maxValue: 100,
                            gridlines: {
                                count: 3
                            },
                        },
                        backgroundColor: {
                            fill: '#EEEEEE',
                            fillOpacity: 0.7
                        },
                        orientation: 'vertical',
                        seriesType: 'bars',
                        series: {1: {type: 'scatter'}},
                    };
                    var chart = new google.visualization.ComboChart(document.getElementById('acceptance'));
                    chart.draw(data, options);
                });
            }

            function drawExpenseChart() {
                google.charts.load('current', {packages: ['corechart']});
                google.charts.setOnLoadCallback(function () {
                    var data = google.visualization.arrayToDataTable([
                        ['University', 'Expense $', {role: 'style'}, {role: 'annotation'}, 'Average', {role: 'style'}],
                        [input['name'], parseInt(input['expenses']), '#2B4520', parseInt(input['expenses']), #{expenseAve}, 'red'],
                    ]);
                    var options = {
                        title: 'University Expense ($/Academic Year)',
                        height: 350,
                        width: 500,
                        bar: {groupWidth: "50%"},
                        legend: {position: 'none'},
                        hAxis: {
                            minValue: 0,
                            maxValue: 15000,
                            gridlines: {
                                count: 3
                            },
                        },
                        backgroundColor: {
                            fill: '#EEEEEE',
                            fillOpacity: 0.7
                        },
                        orientation: 'vertical',
                        seriesType: 'bars',
                        series: {1: {type: 'scatter'}},
                    };
                    var chart = new google.visualization.ComboChart(document.getElementById('expense'));
                    chart.draw(data, options);
                });
            }

            function drawGenderChart() {
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(function () {
                    var ratio = input['male_female_ratio'];
                    var m = parseInt(ratio.substring(0, ratio.indexOf(':')));
                    var f = parseInt(ratio.substring(ratio.indexOf(':') + 1));
                    var mp = m / (m + f) * 100;
                    var fp = f / (m + f) * 100;
                    var data = google.visualization.arrayToDataTable([
                        ['Gender', 'Ratio'],
                        ['Male', mp],
                        ['Female', fp]
                    ]);
                    var maleAve = #{maleAve};
                    var femaleAve = #{femaleAve};
                    var maleAvePercentage = maleAve / (maleAve + femaleAve) * 100;
                    var femaleAvePercentage = femaleAve / (maleAve + femaleAve) * 100;

                    var options = {
                        title: 'University Gender Ratio\n' + 'Average Male:Female (' + maleAvePercentage.toFixed(2) + ' : ' + femaleAvePercentage.toFixed(2) + ')',
                        pieHole: 0.2,
                        height: 350,
                        width: 500,
                        colors: ['#2B4520', '#88B972'],
                        backgroundColor: {
                            fill: '#EEEEEE',
                            fillOpacity: 0.7
                        }
                    };
                    var chart = new google.visualization.PieChart(document.getElementById('gender'));
                    chart.draw(data, options);
                });
            }

    body(background='/img/background.jpeg')
        // title division
        #titleDiv
            h1 The Statistics of University and College
                canvas(id="canvasWelcome" width="400" height="45" style="float: right")
                    p Your browser does not support the canvas tag
        // navigator division
        #navigatorDiv
            ul
                li
                    a(href='/home') Home
                li
                    a(href='/overview_menu.html' class='menuLink') Overview
                        b
                    div(class='menu' id = 'overview_menu')
                        a(href='/overview') Top 10 Computer Science Universities
                        a(href='/overview') Top 10 Medicine Science Universities
                        a(href='/overview') Top 10 Business Universities
                li
                    a(href='/news') News
                li
                    a(href='/contact') Contact
                li
                    a(href='/dashboard') DashBoard
                li(style='float:right')
                    a.navigatorBar(href='/logout') Logout

        h2 #{name}

        // content division
        #contentDiv
            table
                tr
                    td#name
                        #control Control
                        br
                        #controlName #{params.control}
                    td#map
                tr
                    td#sat
                    td#acceptance
                tr
                    td#expense
                    td#gender

        br

        form(action='/moreUniversityInfo' method='post')
            input(type='hidden' value=name name='schoolName')
            input(type='submit' value='More Details')

        br
        br
